<div style="width: 100%; text-align: center;">
    <input type="checkbox" id="interestedCheckbox">
    <label for="interestedCheckbox">Interested?</label>
    &nbsp;&nbsp;
    <input type="checkbox" id="notInterestedCheckbox">
    <label for="notInterestedCheckbox">Not Interested?</label>
</div>
